name: Build macOS

on: [push]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo build --release

      - uses: actions/upload-artifact@v4
        with:
          name: macos-build
          path: target/release/
